/* iconfont 字体图标样式 */
@font-face {
  font-family: 'iconfont';  /* Project id 4937116 */
  src: url('./fonts/font_4937116_f3w9qajv09l.woff2') format('woff2'),
       url('./fonts/font_4937116_f3w9qajv09l.woff') format('woff'),
       url('./fonts/font_4937116_f3w9qajv09l.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}